<div class="container">
  <div class="scrollable">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloremque aliquam ut nostrum cumque rem sapiente illum, earum deleniti, placeat laboriosam inventore repudiandae accusantium tempore laborum amet. Distinctio, tenetur omnis?
    Error, perspiciatis similique culpa voluptate neque, corrupti magnam eligendi id suscipit adipisci dolores, quisquam cupiditate ipsa? Accusantium, repellendus fugiat, minus necessitatibus sunt doloribus atque, assumenda fuga perspiciatis incidunt, obcaecati modi.
    Tempore, accusantium nam. Voluptatum, veritatis accusantium quam et itaque! Facilis vero, quos officiis quia quis veniam eaque atque, perferendis soluta alias consequatur animi, temporibus aut ipsum dolores explicabo dolor dolorem!
    Unde, cupiditate aliquam sit nisi dolore deleniti quam est quaerat ullam laudantium nulla ab eligendi maiores iusto modi odit illum deserunt quis. Accusamus debitis, molestiae sint vero inventore nulla, iste?
    Corporis hic dolores voluptatem, repellat! Quos, vero aspernatur, accusantium commodi, amet ex atque inventore cum repellat ad illo libero pariatur molestias nisi quis asperiores quibusdam adipisci odit, dicta saepe fuga.
  </div>
</div>
